<div class="container" id="container">
  <div class="form-container sign-up-container"></div>
  <div class="form-container sign-in-container">
    <form action="#">
      <h1>Sign in</h1>
      <input type="text" name="Username" placeholder="Username" [(ngModel)]="loginObj.emailId" />
      <input type="password" name="Password" placeholder="Password"  [(ngModel)]="loginObj.password" />
      <a href="#">Forgot your password?</a>
      <button (click)="onLogin()">Login</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button class="ghost" id="signIn">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello</h1>
        <p>Generate possible solutions</p>
      </div>
    </div>
  </div>
</div>
